<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">abc123.</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=instituto;encrypt=true;trustServerCertificate=true;</property>
		<property name="hibernate.connection.username">user</property>
		<property name="hibernate.default_schema">dbo</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServer2016Dialect</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">none</property>
		<property name="hibernate.search.autoregister_listeners">true</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.use_sql_comments">true</property>
		<property name="hibernate.validator.apply_to_ddl">false</property>
		<mapping resource="modelo/Direccion.hbm.xml" />
		<mapping resource="modelo/Profesor.hbm.xml" />
		<mapping resource="modelo/ComunidadAutonoma.hbm.xml" />
		<mapping resource="modelo/Provincia.hbm.xml" />
		<mapping resource="modelo/Modulo.hbm.xml" />
		<mapping resource="modelo/Tiposbasicos.hbm.xml" />
		<mapping resource="modelo/ContactInfo.hbm.xml" />

	</session-factory>
</hibernate-configuration>
